body {
    background-image: url('../img/view-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#view-container {
    display: flex;
    flex-direction: column;
    margin: 1em;
    align-items: center;
}

#product-details-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 1em;
    margin: 1em 0px;
    padding: 0.3em;
}

#product-image {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 480px;
    background-color: #66615e57;
    border-radius: 10px;
}

img {
    display: block;
    max-height: 450px;
    max-width: 450px;
}

#product-data {
    background-color: #66615e57;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.2em;
    padding: 1.5em;
    color: #F2F0EF;
    border-radius: 10px;
}

/* #product-description {
    Maybe the paragraph doesn't display descriptions nicely - use this to fix
} */

#categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

#categories-container a {
    background-color: #66615E;
    font-family: "Coda", system-ui;
    padding: 0.2em 1em;
    border-radius: 8px;
}

#prices-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    width: fit-content;
    gap: 1em;
    margin: 0px 2em;
    background-color: #66615e57;
    border-radius: 10px;
    padding: 0.5em;
}

.price-supplier-container {
    font-size: 1.3em;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.8em;
    background-color: #66615E;
    border-radius: 8px;
    color: #F2F0EF;
}

#review-container {
    display: flex;
    align-items: stretch;
    padding: 1em;
    margin: 1em 0em;
    gap: 1em;
    width: 100%;
    color: #F2F0EF;
}

.star-rating {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #66615e83;
    padding: 0.3em;
    font-size: 1.3em;
    border-radius: 8px;
}

.numeric-rating {
    width: 50%;
    padding: 0em 0.5em;
}

#review-container a#title {
    font-size: 1.3em !important;
    padding: 0.5em;
    font-family: "Coda", system-ui;
}

#overall-review {
    display: flex;
    flex: 0.3;
    flex-direction: column;
    background-color: #66615e57;
    padding: 1em;
    border-radius: 10px;
    justify-content: space-evenly;
}

#make-review {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #66615e57;
    padding: 1em;
    border-radius: 10px;
    width: fit-content;
}

#make-review textarea {
    margin: 1.3em 0.5em;
    font-family: "Roboto", sans-serif;
    border: #66615E 4px solid;
    border-radius: 4px;
    resize: none;
    padding: 0.5em;
}

#make-review textarea:focus-visible {
    outline: none;
}

#review-rating {
    display: flex;
    justify-content: space-evenly;
}

#review-rating span {
    cursor: pointer;
    padding: 0.3em;
    border-radius: 50%;
    transition: 0.2s;
    font-size: 1.5em;
}

#review-rating span.checked, #review-container span.checked {
    color: orange;
}

#review-rating span:not(.checked) {
    color: black;
}

#review-rating span:hover {
    background-color: rgba(255, 165, 0, 0.3);
}

#review-btn-container {
    display: flex;
    justify-content: space-evenly;
}

#review-btn-container button {
    width: 35%;
    padding: 0.5em 1em;
    color: #F2F0EF;
    background-color: #66615E;
    border: #949392 2px solid;
    border-radius: 8px;
    transition: 0.25s;
    font-weight: bold;
    letter-spacing: 1px;
}

#review-btn-container button:hover {
    box-shadow: inset 0px 0px 2px 2px #3B3B3B;
    cursor: pointer;
}

#review-btn-container button:active {
    background-color: #3B3B3B;
    transform: translateY(1px);
    box-shadow: inset 0px 0px 2px 2px #66615E;
}

/* TODO change sizing of both iframe and iframe-container depending */
#frame-container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    max-width: 80;
    background-color: #66615e57;
    border-radius: 10px;
    padding: 1em;
}

iframe {
    width: 100%;
    height: 100%;
    border: #66615E 4px solid;
    border-radius: 10px;
    align-self: center;
}