<!--
    Assume that the product ID is passed thru the URL
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../global/styles.css">
    <link rel="stylesheet" href="view.css">

    <title>[Product View]</title>
</head>
<body>
    <div id="view-container">
        <div id="product-details-container">
            <div id="product-image">
                <img src="https://dummyjson.com/image/450/teal" alt="Product_image">
            </div>
            <div id="product-data">
                <a>Product Name</a>
                <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid recusandae quibusdam ab dolore sint dolorem sequi impedit quaerat dolorum qui. Saepe eius porro quis ad explicabo quibusdam quas, veritatis dolorem.</a>
                <div id="categories-container">
                    <a>Catergory1</a>
                    <a>Catergory2</a>
                    <a>Catergory3</a>
                </div>
                <a>Product Brand</a>
                <a>Dimensions</a>
            </div>
        </div>
        <!-- This container holds the prices and the stockists -->
        <div id="prices-container">

        </div>
        <div id="review-container">

        </div>
    </div>
</body>
</html>