body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    margin-top: 6%;
    font-size: 3em;
    letter-spacing: 10px;
}

#signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 2em;
    width: 75%;
    border-radius: 8px;
    background-color: #66615E;
    box-shadow: 0px 0px 15px 10px #949392;
}

#signup-options {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 75%;
}

#signup-options input {
    font-size: 1em;
    height: 2em;
    padding: 0.3em;
}

#buttons {
    display: flex;
    gap: 4em;
    margin: 4em 0px 0px 1em;
}

#buttons button {
    background-color: #949392;
    color: #F2F0EF;
    padding: 0.5em 2em;
    font-size: 1.3em;
}